@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width: 450px) and (max-width: 1250px) {
  .mv-thumb-img {
    height: 50px !important;
  }
}

@media (min-width: 770px) and (max-width: 1250px) {
  .mv-thumb-img {
    height: 100px !important;
    width: auto !important;
  }
}
@media (min-width: 440px) and (max-width: 769px) {
  .mv-thumb-img {
    height: 70px !important;
    width: 140px !important;
  }
}

@media (min-width: 768px) and (max-width: 973px) {
  .service-title-small {
    font-size: clamp(13px,2vw,16px) !important;
  }
}
